.div1 {
  color: white;
  background-color: grey;
  height: 500px;
  width: 250px;

}

.div2 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
  top: -17px;
  left: 50px;
}

.div3 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
  top: 330px;
  left: 1px;
}
