.div1 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  float: right;
}

.div2 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
    top: 150px;
    right: 400px;
   }

.div3 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
  top: 150px;
  right: 400px;
}
