.div1 {
  color: white;
  background-color: black;
  height: 100px;
  width: 100px;
  float: left;
}

#container {
  float: right;
}

.div2 {
  color: white;
  background-color: black;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.div3 {
  color: white;
  background-color: black;
  height: 100px;
  width: 100px;
  display: inline-block;
}
