.div1 {
  color: white;
  background-color: grey;
  height: 300px;
  width: 300px;
  float: left;
}

.div2 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  float: right;
  margin-right: 920px;
}

.div3 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
  top: 360px;
  }

.div4 {
  color: white;
  background-color: grey;
  height: 300px;
  width: 300px;
  margin-top: 75px;
  margin-right: 925px;
  float: right;
}

