.div1 {
  color: white;
  background-color: grey;
  height: 250px;
  width: 450px;
  float: right;

}

.div2 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 107px;
  left: 1143px
}

/*.div3 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  float: right;
  position: absolute;
  left: 1441px;
  top: 11px;
}*/
