.column-left {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
}

.column-center {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  margin: auto;
}

.column-right {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  margin-left: auto;
}
