.div1 {
  color: white;
  background-color: grey;
  height: 250px;
  width: 500px;
  margin-left: 500px;
  margin-top: 50px;
}

.div2 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
  top: 30px;
  left: 30px;
}

.div3 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
  top: -17px;
  left: 280px;
}
