.div1 {
  color: white;
  background-color: gray;
  height: 450px;
  width: 250px;
}

.div2 {
  color: white;
  background-color: black;
  height: 250px;
  width: 190px;
  position: relative;
  top: 181px;
  left: 60px;
}

.div3 {
  color: white;
  background-color: lightgrey;
  height: 150px;
  width: 150px;
  position: relative;
  top: 70px;
  left: 30px;
}
