.div1 {
  color: white;
  background-color: grey;
  height: 300px;
  width: 300px;

}

.div2 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
  top: 130px;
  left: 150px
}
