.div1 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
}

.div2 {
  color: white;
  background-color: grey;
  height: 150px;
  width: 150px;
  position: relative;
    top: 50px;
    left: 70px;
   }
