.div1 {
  color: white;
  background-color: grey;
  height: 300px;
  width: 300px;
  margin: auto;
}

.div2 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  margin: auto;
}
