.div1 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
}

.div2 {
  color: white;
  background-color: grey;
  height: 150px;
  width: 150px;
  position: relative;
  top: 60px;
  left: 80px;
}

.div3 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
  top: 60px;
  left: 80px;
}

.div4{
  color: white;
  background-color: gray;
  height: 150px;
  width: 150px;
  position: relative;
  top: 60px;
  left: 80px;
}

.div5 {
  color: white;
  background-color: black;
  height: 150px;
  width: 150px;
  position: relative;
  top: 60px;
  left: 80px;
}
